  <nav class="px-2 navbar col-10 mx-auto navbar-expand-lg navbar-light bg-light rounded-bottom-4 mb-5">
    <a class="navbar-brand" href="{{ path('homepage')}}">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ml-auto" id="navbarNav">
      <ul class="navbar-nav w-100">
        <div class="mr-auto col-8 row">
          <li class="w-auto nav-item active">
            <a class="nav-link" href="{{ path('homepage')}}">Accueil</a>
          </li>
          <li class="w-auto nav-item">
            <a class="nav-link" href="{{ path('cap')}}">Capsules</a>
          </li>
          <li class="w-auto nav-item">
            <a class="nav-link" href="{{ path('about')}}">A propos</a>
          </li>
          <li class="w-auto nav-item">
            <a class="nav-link" href="{{ path('contact')}}">Contact</a>
          </li>
        </div>
        <div class="col-4">
          <div class="border rounded-3 w-fc ms-auto">
            <a class="nav-link" href="{{ path('dashboard')}}">Dashboard</a>
          </div>
        </div>
      </ul>
    </div>
  </nav>

  {% for label, messages in app.flashes %}
    <div class="container flash-container">
      <div class="alert alert-{{ label }} col-4 mx-auto rounded">
        {% for message in messages %}
          <p class="my-0">{{ message | raw }}</p>
        {% endfor %}
      </div>
    </div>
  {% endfor %}