{% extends 'base.html.twig' %}

{% block body %}
  <section>
    <div class="row">
      <h4>Détail de la capsule <strong>{{ cap.name }}</strong></h4>

        <article>
          <h4 class="text-center mt-2">{{ cap.name }}</h4>
          <ul class="p-0 mt-2">
                <li><small>Producteur : {{ cap.getBrewery().name }}</small></li>
                <li><small>N° Lambert : {{ cap.getNumLambert() }}</small></li>
                <li><small>Côte de tirage : {{ cap.getCotation() }}</small></li>
                <li><small>Ajouté le : {{ cap.getCreatedAt() | date }}</small></li>
              </ul>
        </article>
      </div>
    </div>
  </section>
{% endblock %}