{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <h1>Bienvenue</h1>
        <p>Les derniers ajouts :</p>
        <div class="row">

            {% for cap in caps %}
              <article class="col-md-3 jc-card-cap-warpper col-sm-3 col-6 p-1">
                <div class="card jc-card-cap p-2">
                  <img class="w-100 p-3" src="{{ asset('uploads/capsules/' ~ cap.getPicturePath() ) }}" alt="Pas d'image disponible">
                  <div>
                    <h4 class="text-center mt-2">{{ cap.name }}</h4>
                    <hr class="col-6 m-auto">
                    <ul class="p-0 mt-2">
                      <li><small>Producteur : {{ cap.getBrewery() is same as(null) ? 'Aucun' : cap.getBrewery().name }}</small></li>
                      <li><small>N° Lambert : {{ cap.getNumLambert() }}</small></li>
                      <li><small>Côte de tirage : {{ cap.getCotation() }}</small></li>
                      <li><small>Ajouté le : {{ cap.getCreatedAt() | date }}</small></li>
                    </ul>
                  </div>
                </div>
              </article>
            {% endfor %}
        </div>
    </section>
{% endblock %}